[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/grpc-ecosystem/go-grpc-middleware"]
	path = vendor/github.com/grpc-ecosystem/go-grpc-middleware
	url = https://github.com/grpc-ecosystem/go-grpc-middleware
[submodule "vendor/github.com/grpc-ecosystem/go-grpc-prometheus"]
	path = vendor/github.com/grpc-ecosystem/go-grpc-prometheus
	url = https://github.com/grpc-ecosystem/go-grpc-prometheus
[submodule "vendor/github.com/improbable-eng/go-srvlb"]
	path = vendor/github.com/improbable-eng/go-srvlb
	url = https://github.com/improbable-eng/go-srvlb
[submodule "vendor/github.com/mwitkow/go-conntrack"]
	path = vendor/github.com/mwitkow/go-conntrack
	url = https://github.com/mwitkow/go-conntrack
[submodule "vendor/github.com/mwitkow/go-flagz"]
	path = vendor/github.com/mwitkow/go-flagz
	url = https://github.com/mwitkow/go-flagz
[submodule "vendor/github.com/mwitkow/go-httpwares"]
	path = vendor/github.com/mwitkow/go-httpwares
	url = https://github.com/mwitkow/go-httpwares
[submodule "vendor/github.com/mwitkow/go-proto-validators"]
	path = vendor/github.com/mwitkow/go-proto-validators
	url = https://github.com/mwitkow/go-proto-validators
[submodule "vendor/github.com/mwitkow/grpc-proxy"]
	path = vendor/github.com/mwitkow/grpc-proxy
	url = https://github.com/mwitkow/grpc-proxy
[submodule "vendor/github.com/oxtoacart/bpool"]
	path = vendor/github.com/oxtoacart/bpool
	url = https://github.com/oxtoacart/bpool
[submodule "vendor/github.com/pressly/chi"]
	path = vendor/github.com/pressly/chi
	url = https://github.com/pressly/chi
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "vendor/github.com/sercand/kuberesolver"]
	path = vendor/github.com/sercand/kuberesolver
	url = https://github.com/sercand/kuberesolver
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/jonboulle/clockwork"]
	path = vendor/github.com/jonboulle/clockwork
	url = https://github.com/jonboulle/clockwork
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
